   <script src="/js/overlayhelper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<div th:fragment="matrixTwoByTwoHeader" class="matrix-inputs-dashboard">
    <div class="matrix-controls matrix-fragment-card">
        <div class="matrix-control-row">
            <h1>2 x 2 Determinant Calculator</h1>                             
            
        </div>
         <h2>1. Enter Values To Form Your 2 x 2 Matrix</h2>
            <details class="math-details">
                <summary>Calculating the Determinant of a 2 x 2 Matrix</summary>
                <p class="math-description">
                        The determinant helps determine whether a matrix can be inverted.<br>
                        The determinant is also an important part of calculating the inverse of a matrix:
                        \[A^{-1}=\frac{1}{ad-bc}\begin{bmatrix}d & -b \\-c & a\end{bmatrix}\]
                        The first step in calculating the inverse of any matrix is to calculate the determinant.<br>
                        Unlike a 3 × 3 matrix determinant, a 2 × 2 determinant can be calculated using a simple formula:
                        \[ad - bc\]
                        If the determinant is zero, the matrix is singular and does not have an inverse.<br>
                        If the determinant is non-zero, you can proceed to calculate the inverse matrix.<br>
                        Enter your values and press "Generate 2 × 2 Walkthrough" to see a step-by-step explanation of how to calculate a 2 × 2 determinant.
                    </p>
            </details>                             
        <input type="hidden" name="size" th:value="${size ?: 2}">
        <table class="matrix-input-table">
            <tr th:each="row : ${#numbers.sequence(0, (size ?: 2) - 1)}">
                <td th:each="col : ${#numbers.sequence(0, (size ?: 2) - 1)}">
                    <input type="number"
                           step="any"
                           title="Matrix 2 x 2 cell value"
                           placeholder="0"
                           th:id="'cell_' + ${row} + '_' + ${col}"
                           th:name="'cell_' + ${row} + '_' + ${col}"
                           th:value="${matrixTwoByTwo != null && matrixTwoByTwo[row][col] != 0 ? matrixTwoByTwo[row][col] : ''}"
                           class="matrix-input">
                </td>
            </tr>
        </table>
        <div class="button-group">
        <button title="Generate 2 x 2 Walkthrough"
                type="submit"
                name="action"
                value="generate-two-by-two"
                class="btn-primary dashboard-btn">

            <span th:text="${hasWalkthrough}
                ? 'Update 2 × 2 Walkthrough'
                : 'Generate 2 × 2 Walkthrough'">
            </span>

        </button>
    </div>
</div>