<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sarrus Method</title>
    <link rel="stylesheet" href="/css/stylesSideBar.css">    
    <link rel="stylesheet" href="/css/stylesMatrixSarrus.css">
    <script src="/js/overlayhelper.js"></script>       
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="/js/sarrusStepsColours.js"></script>
    <script src="/js/inverse3x3StepsColors.js"></script>
</head>
<body>
    <div id="matrixSarrusPage"class="app-layout" th:data-current-step="${result != null ? result.currentStepSarrusSectionTwo : 0}">
        <div th:replace="~{sidebar :: sidebar}"></div>
        <main class="matrix-page">
            <form th:action="@{/matrices-sarrus}" method="post">
                <input type="hidden" name="displayMode" th:value="${result.displayMode}">
                <input type="hidden" name="currentSarrusSection" th:value="${result.currentSarrusSection}">
                <input type="hidden" name="currentStepSarrusSectionTwo" th:value="${result.currentStepSarrusSectionTwo}"> 
                <input type="hidden" name="currentStepSarrusSectionThree" th:value="${result.currentStepSarrusSectionThree}">           
                <div th:replace="~{fragments/matricesSarrus/matrixSarrusHeader :: matrixSarrusHeader}"></div>
                <div th:if="${result.currentSarrusSection >= 1}" th:replace="~{fragments/matricesSarrus/matrixSarrusSectionOne
                 :: matrixSarrusSectionOne}">
                </div>
                <div th:if="${result.currentSarrusSection >= 2}" th:replace="~{fragments/matricesSarrus/matrixSarrusSectionTwo
                 :: matrixSarrusSectionTwo}">
                </div>
                <div
                    th:if="${result.currentSarrusSection >= 3}"
                    th:replace="~{fragments/matricesSarrus/matrixSarrusSectionThree :: matrixSarrusSectionThree}">
                </div>
            </form>
        </main>
    </div>
</body>
</html>
