<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
</head>
<body>
    <div th:fragment="sidebar" class="sidebar">
        <div class="sidebar-header">
            <h2>My Wiki</h2>                      
                <p>Welcome to Mixrecovery19's Math</p>                
        </div>
        <nav class="sidebar-nav">
            <a th:href="@{/}">Home</a>        
            <a th:href="@{/matrixResult}">Matrices</a>
            <a th:href="@{/matrix-two-by-two}">Matrices 2x2</a>
            <a th:href="@{/matrix-sarrus}">Matrices 3x3</a>
            <a th:if="${user == null}" th:href="@{/login}">Login</a>
            <a th:if="${user != null}" th:href="@{/logout}">Logout</a>
            <a th:if="${user == null}" th:href="@{/create-user-account}">Create Account</a>
            <div th:if="${user != null and user.username == '1'}" class="admin-section">
                <hr>
                <h4>Admin</h4>
                <a th:href="@{/admin}">Admin Dashboard</a>
                <a th:href="@{/admin/users}">Manage Users</a>
            </div>
        </nav>
    </div>
</body>
</html>